.list {
  text-align: auto;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.left-half {
  float: left; width: 50%;height: 70px;
}

.right-half {
  float: right; width: 50%;height: 70px;
}